<!DOCTYPE html>
<html>

<body>

    <h1>Hello world</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <div>
        {% if entries %}
        <ul>
            {% for entry in entries %}
            <li>{{entry.a}}</li>
            {% endfor  entries %}
        </ul>
        {% else %}
        <p>No entries present</p>
        {% endif %}
    </div>
</body>

</html>